.principios-editoriais {
    background-color: #f3f3f3;

    .banners {
        margin-top: 0;
        position: relative;
      
        .banner-content {
            position: relative;
            width: 100%;
            height: clamp(260px, 50vw, 400px);
         
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            .banner-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: $white;
                z-index: 2;
                padding: 0 1.5rem;
                
                @media #{$mq-lg-max} {
                  padding: 2rem 1.5rem;
                }
  
                .text-bigger{
                  font-weight: $semi-bold;
                }
            }
        }
    }
    
    .principios{
        background: linear-gradient(90deg, #1E71B8 0%, #2C9942 100%);
        padding: 3rem 0;
        position: relative;
        margin-top: -.75rem;

        .principios-overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    .conteudos{
        padding: 3rem 0;

        .row {
            align-items: stretch;
        }

        .col-md-6 {
            display: flex;
            flex-direction: column;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            flex: 1;
            border-radius: 50px;
        }

        p{
            color: $black;
        }
    }


    .divisor{
        margin-top: 0;
    }

}
