.termos {
    .banners {
        margin-top: 0;
        position: relative;
      
        .banner-content {
            position: relative;
            width: 100%;
            height: clamp(260px, 50vw, 400px);
         
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
            .banner-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: $white;
                z-index: 2;
                padding: 0 1.5rem;

                @media #{$mq-lg-max} {
                  padding: 2rem 1.5rem;
                }
  
                .text-bigger{
                  font-weight: $semi-bold;
                }

            }
        }
    }

    .termos-content{
        padding: 4rem 0;
    }

    .content-inner{
        h2{
            color: $black;
            @extend .text-big;
        }
        
        p{
            color: $black;
            @extend .text-medium;
        }

        ul{
            li{
                color: $black;
                @extend .text-medium;
                list-style: disc;
                padding-left: 2rem;
                margin-bottom: 1rem;
            }
        }
    }
    
}